html {
  background: #121b26;
}

main {
  background: $grey-lighter;
}

section.section {
  @media screen and (min-width: $desktop) {
    width: 80%;
  }

  margin: 0 auto;
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
}

.no-backgound {
  background: none !important;
}

.hero--logo {
  img {
    width: 15rem;
    height: 15rem;
  }
}

.nav-item {
  color: $blue !important;
}

.nav--logo {
  &.nav-item a {
    color: $white !important;
    font-size: 1.25em;
  }

  .minimal--logo {
    height: 1.5rem;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
  }
}

@media print {
  * {
      font-size: 14px !important;

      .no-print {
        display: none;
      }

      .page-break {
        page-break-after: always;
      }

      section.section {
        width: 100%;
        border: none;
      }

      .card {
        box-shadow: none;
        border-top: 1px solid $grey-lighter;
      }
    }
}

.google-form {
  border-left: 1px solid $grey-lighter;
  border-right: 1px solid $grey-lighter;
  min-height: 1000px;
  margin: 0 auto;
}
