html {
  background: #121b26;
}

.no-backgound {
  background: none !important;
}

.hero--logo {
  img {
    width: 15rem;
    height: 15rem;
  }
}

.was-read-true {
  opacity: 0.5;
}

.nav-item {
  color: $blue !important;
}

.nav--logo {
  &.nav-item a {
    color: $white !important;
    font-size: 1.25em;
  }

  .minimal--logo {
    height: 1.5rem;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
  }
}

@media print {
  * {
      font-size: 14px !important;

      .no-print {
        display: none;
      }

      .page-break {
        page-break-after: always;
      }
    }
}
