<header>
  <nav class="nav no-backgound">
    <div class="nav-left">
      <div class="nav--logo nav-item">
        <span class="icon">{ <span class="upsidedown">;</span> }</span> Code-Heads Club
      </div>
    </div>
    <div class="nav-right">
      <a class="nav-item" href="#!/about">
        About
      </a>
      <a class="nav-item">
        <a href="#" class="button is-info is-outlined">
          <i class="icon fa fa-github"></i>&nbsp;GitHub
        </a>
      </a>
    </div>
  </nav>

  <section class="hero is-info no-backgound has-text-centered">
    <div class="hero-body">
      <h1 class="title">
        <div class="hero--logo">
          <img src="img/logo_single_color.svg" alt="Code-heads Club Logo" />
        </div>
      </h1>
      <div class="content subtitle">
        <p>
          The Code-Heads Club is partnership between Engineers and Students.
          <br>
          Our mission is to maintain a <strong>free</strong> curriculum for young adults learning to code.
        </p>
      </div>
    </div>
  </section>
</header>

<main>
  <section class="section">
    <div class="columns">

      {{! Home}}
      {{#if atHome}}
        {{#each articles key="@index" as |article index|}}
          <div class="column">
            <div class="box">
              <article-card @article={{article}} @didRead={{action markAsRead index}} />
            </div>
          </div>
        {{/each}}
      {{/if}}

      {{! About}}
      {{#if atAbout}}
        <div class="column">
          <h1 class="title is-5">About</h1>
        </div>
      {{/if}}

    </div>
  </section>
</main>

<article-modal @content={{content}} />
