$title-grey: #777;
$notes-blue: #E1F2FE;

* {
  box-sizing: border-box;
}

body {
  font: 16px Helvetica, sans-serif;
  color: #555;
  padding: 1rem;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h3 {
  color: $title-grey;
}

note {
  &.instructor-notes {
    h4 {
      margin-top: 0.25rem;
      font-weight: 600;
      font-size: 80%;
      text-transform: uppercase;
    }
    display: block;
    background: $notes-blue;
    padding: 1rem;
    font-size: 90%;
  }
}
