<div class="column">
  <h1 class="title is-4">About Code-Heads</h1>
  <p class="content">
    {{! TODO move this to JSON }}
    The Code-Heads Club is partnership between Engineers and Students.
    Our mission is to maintain a free curriculum for anyone adults learning to code.

    The partnership's primary focus is to ensure that students who want to become engineers
    have a practical and relevant foundation for their career trajectory. To support this focus,
    we've established the following principles:

    <ul>
      <li>Theory is meaningless without practical application.</li>
      <li>The future of technology depends on a more declarative (and human) approach to coding. We should code the way we speak; naturally and elegantly.</li>
      <li>Learning should always involve teaching. Sharing knowledge not only strengthens comprehension, but also leads to new ideas and ultimately innovation.</li>
      <li>Technology as a career must remain attainable for anyone willing to learn it.</li>
    </ul>
  </p>
</div>
<div class="column">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://lh3.googleusercontent.com/-ztm7wZFUgrU/VWdSIgKmMGI/AAAAAAAABIA/xfI_6KKPOQQXtZnnkdApDETUaUyd-W8MgCEw/w280-h280-p/profile_google.jpg" alt="Github avatar image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Carlos Rodriguez</p>
          <p class="subtitle is-6">
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://github.com/crodriguez1a" target="_blank">
              <strong>crodriguez</strong>
            </a>
          </p>
        </div>
      </div>

      <div class="content">
        Code-Heads was founded by Carlos Rodriguez.
        He's a Charlotte-based software engineer, husband, and father of three
        children who are also proud of their nerdom.
      </div>
    </div>
    <footer class="card-footer">
      <a href="#!/about/resume" class="card-footer-item">
        <i class="icon fa fa-icon fa-paper-plane-o" aria-hidden="true"></i>
        &nbsp;Resume
      </a>
      <a href="mailto:crodriguez1a@gmail.com" class="card-footer-item">
        <i class="icon fa fa-icon fa-envelope-o" aria-hidden="true"></i>
        &nbsp;Email
      </a>
    </footer>
  </div>
</div>
