<div class="column">
  <h1 class="title is-4">About Code-Heads</h1>
  <p>
    The Code-Heads Club is partnership between Engineers and Students.
    Our mission is to maintain a free curriculum for young adults learning to code.

    Lorem ipsum
  </p>
</div>
<div class="column">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://lh3.googleusercontent.com/-ztm7wZFUgrU/VWdSIgKmMGI/AAAAAAAABIA/xfI_6KKPOQQXtZnnkdApDETUaUyd-W8MgCEw/w280-h280-p/profile_google.jpg" alt="Github avatar image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Carlos Rodriguez</p>
          <p class="subtitle is-6">
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://github.com/crodriguez1a" target="_blank">
              <strong>crodriguez</strong>
            </a>
          </p>
        </div>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris.
      </div>
    </div>
    <footer class="card-footer">
      <a href="#!/about/resume" class="card-footer-item">
        <i class="icon fa fa-icon fa-paper-plane-o" aria-hidden="true"></i>
        &nbsp;Resume
      </a>
      <a href="mailto:crodriguez1a@gmail.com" class="card-footer-item">
        <i class="icon fa fa-icon fa-envelope-o" aria-hidden="true"></i>
        &nbsp;Email
      </a>
    </footer>
  </div>
</div>
