$border-color: lightgrey;
$font-color: #777;
$highlight-color: #279AF1;

.array-maze {
  font: 1rem courier;
  color: $font-color;
  width: auto;
  display: inline-block;
  ul {
    &.maze-column {
      padding: 0;
      margin: 0 0 3rem 0;
      display: inline-block;
      height: 3rem;

      li {
        width: 2rem;
        display: inline-block;
        list-style: none;
        text-align: center;
        margin: 0;
        position: relative;
        text-align: center;

        &:after {
          position: absolute;
          top: 1.25rem;
          left: 40%;
          content: "";
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 100%;
          background: $font-color;
        }

        &.is-1 {
          &:after {
            background: $highlight-color;
          }
        }
      }
    }
  }
}
