/** DEMO **/
* { font: 16px sans-serif; box-sizing: border-box; }
body { padding: 1rem; }
h1, h2 { font-weight: 100; }
h1 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }
pre {
  padding: 1rem 1rem 1rem 0;
  margin: 0;
  background: #361D2E;
  color: #CAD5CA;
  font: 0.9rem Consolas,monospace;
}
ul, li, p { list-style: none; margin: 0; padding: 0; }
.projects {
  border: 1px solid #ccc;
  padding-bottom: 1rem;
}
.projects ul {
  width: 98%;
  padding-left: 2%;
}
.projects .project-title {
  background: #efefef;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
}

/** PROJECTS **/
